<%= form_for [wikipage] do |f| %>

  <% if wikipage.errors.any? %>
    <div class ="alert alert-danger">
      <h4><%= pluralize(wikipage.errors.count, "error") %>.</h4>
        <ul>
            <% wikipage.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>


    <%= form_group_tag(wikipage.errors[:title]) do %>
      <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', placeholder: "Enter entry title" %>
    <% end %>

    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter entry body" %>
    </div>


<#% if current_user.role == 'admin' || current_user.role == 'premium' %>
    <div class="form-group">
      <%= f.label :public, class: 'checkbox' do %>
      <%= f.check_box :public %> Public topic
      <% end %>
    </div>
<#% end %>



  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>
  <% end %>
</div>


    <h4>Simple Markdown:</h4>
    <table>
      <tr>
        <td> <i>Italics</i> </td>
        <td> *asterisks* or _underscores_ </td>
      </tr>
      <tr>
        <td> <b>Bold</b> </td>
        <td> **two asterisks** or __two underscores__ </td>
      </tr>
      <tr>
        <td> Paragraph break  &nbsp; &nbsp;  &nbsp;</td>
        <td> &lt;br> </td>
      </tr>
      <tr>
        <td> A <%= link_to "link", "http://daringfireball.net/projects/markdown/syntax", :title => "link name", :target =>"_blank" %> example.</td>
        <td> A [link](http://www.example.com/ "link name") example.</td>
      </tr>
  </table>
  <br>
    <p><%= link_to "Click here for the complete markdown reference.", "http://daringfireball.net/projects/markdown/syntax", :target =>"_blank" %></p>
