
<ol class="breadcrumb">
  <li><%= link_to "Blocipedia", root_path %></li>
  <li class="active"><%=@wikipage.title%></li>
</ol>


<h1><%= @wikipage.title.split.map(&:capitalize).join(' ') %></h1>

<div class="row">
  <div class="col-md-8">
    <p><%= markdown(@wikipage.body) %></p>
  </div>
</div>

<div class="col-md-4">
    <small> created <%= time_ago_in_words(@wikipage.created_at) %> ago by <%= @wikipage.user.username %></small>
  </div>
<br>
  <div class="col-md-12">
    <%= link_to "Edit", edit_wikipage_path(@wikipage), class: 'btn btn-success' %>
  </div>
</div>
